.container {
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: center;     
  height: 1vh;            
  padding: 30px;            
  box-sizing: border-box;   
}

.analyzeButton{
    padding: 10px 20px;
    background-color: #2196F3;;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    border-radius: 4px;
}

.analyzeButton:hover {
    background-color: darkblue;
}


.loading {
  display: block;
}

.hide {
  visibility: hidden;
}


.video {
  max-width: 100%;
  height: auto;
}
