
.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 10vh;           
  flex-direction: column;  
}

.dropdown-container {
  background-color: white;
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
  max-width: 100%;
  border: 1px solid black;
  margin-bottom: 60px;  
}


.dropdown-container select {
  padding: 8px;
  font-size: 18px;
  margin-top: 10px;
  width: 100%;
}
